<button routerLink="addUser">Add User</button>

<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Gender</th>
        <th>Email</th>
        <th>Status</th>
    </tr>
    <tr *ngFor = "let item of userData">
        <td>{{item.id}}</td>
        <td>{{item.name}}</td>
        <ng-container ></ng-container>
        <!-- <ng-container *ngIf = "item.gender == true; else otherblock">Male</ng-container>
        <ng-template #otherblock>Female</ng-template> -->
        <td >{{item.gender == true ? 'Male' : 'Female'}}</td>
        <td>{{item.email}}</td>
        <td>{{item.status}}</td>
    </tr>
    


</table>


<router-outlet></router-outlet>




